@model IEnumerable<CaseStudyonSms.Models.Student>



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")  |   
    @Html.ActionLink("Add Course", "Index","Cours")

</p>
@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{

    <b> Search Branch: </b> @Html.TextBox("search")
    <input type="submit" name="submit" value="Search" />
}

@if (Model.Count() == 0)
{
    <br>
    <tr> <td colspan="3"> Records not found </td></tr>

}
else
{
    <br>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stdBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stdCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stdPhn)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.stdName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stdBranch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stdCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stdPhn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.stdId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.stdId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.stdId })
                    @*@Html.ActionLink("AddCourse", "Index", "Cours", new { id = item.stdId })*@
                    @*<input type="button" class="btn btn-info" value="AddCourse" onclick="window.location.href = '/Cours/Index';" />*@
                </td>
            </tr>
        }

    </table>
}

